html {
    font-family: 'Tenor Sans', sans-serif;
}

hr {
    background: grey;
}

#container {
    display: flex;
    position: relative;
}

aside, main {
    margin-top: 5%;
}

aside {
    flex: 15%;
    margin: 5% 2% 0 10%;
}

main {
    flex: 55%;
    margin-right: 10%;
}

#image, #profile-photo {
    border-radius: 20px;
    height: 205px;
    overflow: hidden;
    position: relative;
    width: 220px;
}

.description, .skills h2, .certifications h2, .contact-info h2, .resume-download h2 {
    color: #555;
    font-size: 14px;
}

.page, .tag {
    background-color: #fff;
    box-shadow: 0 0 20px -9px rgba(0,0,0,0.75);
    margin-bottom: 30px;
    overflow-x: hidden;
    padding: 15px 30px 30px;
    font-size: 19px;
    line-height: 2;
}

.tag span, .tag ul {
    color: #0e141e;
    font-size: 14px;
}

.tag ul {
    list-style-type: disc; /* Adds bullets to the list */
    margin-left: 20px; /* Indents the list for better alignment */
    padding-left: 20px; /* Removes default padding */
}

.tag li {
    margin-bottom: 5px; /* Adds space between list items */
}

.skill, .skill-stronger {
    background: #d1d1d1;
    border-radius: 4px;
    display: inline;
    font-family: "Courier New", Courier, monospace;
    line-height: 35px;
    padding: 2px;
}

.skill-stronger {
    background: #b8b8b8;
    font-size: 18px !important;
}

.link {
    color: #708090;
    font-family: 'Cutive Mono', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
}

.cert-thumbnail, .social-thumbnail {
    max-width: 100px; /* Adjusted for consistency */
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.counter{
    font-size: 14px;
    color: #545454;
    font-weight: bold;
    position: absolute;
    left: 50%;
    padding-bottom: 3em
  }

@media screen and (max-width: 1090px) {
    aside {
        margin-left: 5%;
    }
}

@media screen and (max-width: 850px) {
    #container {
        display: block;
    }
    aside, main, .page {
        margin: 0 5%;
        width: 90%;
    }
}
